@model List<PROJETO01.Modelos.Participantes>
<br />
<br />

<div class="container-fluid bg-light w-100 p-3" style="border:solid">
    <br />
    <br />
    <h3>Lista de eventos</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID do Convite</th>
                <th>ID do Usuario</th>
                <th>ID da Festa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ConviteID</td>
                    <td>@item.UsuarioID</td>
                    <td>@item.FestaID</td>
                </tr>
            }
        </tbody>
    </table>
</div>